<app-spinner *ngIf="isLoading"></app-spinner>

<div class="container" *ngIf="!isLoading">
  <h3>Selected Date:</h3>
  <nz-date-picker
    [(ngModel)]="selectedDate"
    (ngModelChange)="onChange($event)"
  ></nz-date-picker>
  <nz-table #pickupTable [nzPageSize]="10" [nzData]="filteredPickups">
    <thead>
      <tr>
        <th>Date</th>
        <th>Driver ID</th>
        <th>Weight Recorded (No. of Bags)</th>
        <th>View images uploaded</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pickup of pickupTable.data">
        <td>{{ pickup.date }}</td>
        <td>{{ pickup.driverId }}</td>
        <td>{{ pickup.weight }}</td>
        <td>
          <button
            nz-button
            (click)="createImageModal(pickup.imageBefore, pickup.imageAfter)"
          >
            View images
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
