<app-spinner *ngIf="isLoading"></app-spinner>

<div class="container" *ngIf="!isLoading">
  <h3>Date Range:</h3>

  <nz-range-picker
    [nzAllowClear]="false"
    [(ngModel)]="selectedDate"
    (ngModelChange)="onChange($event)"
  ></nz-range-picker>
  <nz-table #pickupTable [nzPageSize]="10" [nzData]="filteredPickups">
    <thead>
      <tr>
        <th>Date</th>
        <th>Driver</th>
        <th>Pickups made</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pickup of pickupTable.data">
        <td>{{ formatDisplayDate(pickup.date) }}</td>
        <td>{{ pickup.driverName }}</td>
        <td>
          <button nz-button (click)="createPickupModal(pickup.pickups)">
            View {{ pickup.pickups.length }} pickups made
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
