<div *ngIf="isLoading">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading">
    <div nz-row style="margin-bottom: 20px;">
    
        <div nz-col  [nzSpan]="6">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input
                 type="text" 
                 nz-input placeholder="Filter (e.g Yuvraaj/5123455)" 
                 (keyup)="applySearch($event)"
                 [(ngModel)]="search"
                 />
            </nz-input-group>
            <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
        </div>
        <div nz-col>
            <nz-select
                nzPlaceHolder="Status" 
                [(ngModel)]="selectedStatus"
                (ngModelChange)="handleStatusChange()">
                <nz-option nzValue="All" nzLabel="All"></nz-option>
                <nz-option nzValue="approved" nzLabel="Approved"></nz-option>
                <nz-option nzValue="pending" nzLabel="Pending"></nz-option>
                <nz-option nzValue="archived" nzLabel="Archived"></nz-option>
            </nz-select>
        </div>

        <div nz-col nzOffset="2" *ngIf="showClearButton">
            <button 
                nz-button
                nzShape="round" 
                (click)="clearFilter()"
                style="background-color: #ac1010; color: #fff;"
                >Clear Filters</button> 
          </div>
    </div>
    
    <ngx-datatable 
    class="material"
    [rows]="filteredRows" 
    [columnMode]="'force'" 
    [headerHeight]="50" 
    [footerHeight]="50"
    [rowHeight]="50" 
    [scrollbarV]="false" 
    [sorts]="[{prop: 'status', dir: 'desc'}]">
    
      <ngx-datatable-column name="Full Name" >
        <ng-template let-row="row" ngx-datatable-cell-template >
          {{row.fullname}}
        </ng-template>
      </ngx-datatable-column>
    
      <ngx-datatable-column name="Phone Number">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.phoneno}}
        </ng-template>
      </ngx-datatable-column>
    
      <ngx-datatable-column name="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.status}}
        </ng-template>
      </ngx-datatable-column>
    
      <ngx-datatable-column name="Approve">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button 
            *ngIf="row.status=='pending'" 
            nz-button  
            [nzSize]="size" 
            nzShape="circle" 
            (click)="handleApproval(row.phoneno)"
            style="background-color: #2D8F3F; color: #fff;"><i nz-icon nzType="check"></i></button>
            <button *ngIf="row.status!='pending'" nz-button  [nzSize]="size" nzShape="circle" [disabled]="true"><i nz-icon nzType="check"></i></button>
        </ng-template>
      </ngx-datatable-column>
    
      <ngx-datatable-column name="More Details">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button nz-button  
              [nzSize]="size" 
              nzShape="circle" 
              style="background-color: #19324D; color: #fff;"
              (click)="viewMoreDetails(row.phoneno)"
              ><i nz-icon nzType="arrow-right"></i></button>
        </ng-template>
      </ngx-datatable-column>
    
    
    </ngx-datatable>

    <app-more-details-card
    [showDetailsModal]="showDetailsModal"
    [toggleMoreDetailsModal]="toggleMoreDetailsModal"
    [moreDetailsUser]="moreDetailedUser"
    >

    </app-more-details-card>

</div>

