<div class="register-page">
  <div nz-row class="main">
    <div nz-col nzSpan="8">
      <h1>Get Started</h1>
      <div class="already_have_acc_text">
        <span>Already have a driver account?</span>
        <span class="sign_in_text" (click)="changePage()">Sign In</span>
      </div>
      
      <form
        class="register-form"
        nz-form
        [formGroup]="registerForm"
        class="register-form"
        (ngSubmit)="submitForm()"
      >

        <!-- First name -->
        <nz-form-item>
          <nz-form-control nzErrorTip="First name is required">
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="firstName"
                placeholder="Your first name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- Last name -->
        <nz-form-item>
          <nz-form-control nzErrorTip="Last name is required">
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="lastName"
                placeholder="Your last name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- Phone -->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please provide a valid phone number">
            <nz-input-group nzPrefixIcon="phone">
              <input
                type="number"
                nz-input
                formControlName="phoneNumber"
                placeholder="Your Phone number"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- Password -->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please provide a strong password">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                placeholder="Password"
              />
              <ng-template #suffixTemplate>
                <i
                  nz-icon
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"
                ></i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <p *ngIf="hasError" class="error">
          An error occurred. Please try again.
        </p>

        <button
          nz-button
          class="register-form-button register-form-margin"
          [nzType]="'primary'"
          nzBlock
          [nzLoading]="isLoading"
        >
          Sign Up
        </button>
      </form>
    </div>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="12" class="image-container">
      <img
        class="register-image"
        src="assets/images/signup.jpg"
        alt=""
        srcset=""
      />
    </div>
  </div>
</div>
