<div class="description">
    <h1 class="description--title">
      RECYCLING BIN
      <span [ngStyle]="{ color: status == 0 ? 'green' : 'red' }"> #{{ id }}</span>
    </h1>

    <nz-tag nzColor="#2D8F3F" *ngIf="status == 0">
        <i nz-icon nzType="info-circle"></i>
        <span>Empty</span>
    </nz-tag>

    <nz-tag nzColor="#ac1010" *ngIf="status == 1">
        <i nz-icon nzType="info-circle"></i>
        <span>Full</span>
    </nz-tag>
  
    <img class="description--img" src="{{ imageUrl }}" alt="Image of Bin" />
  
    <p class="description--content">{{ description }}</p>

    <nz-card>
        <h3 class="description--materials-title">Materials accepted:</h3>

        <nz-tag nzColor="#e0e0e0" *ngFor="let m of bin_materials">{{ m }}</nz-tag>
    </nz-card>

  </div>
  