<nz-modal
  [nzWidth]="450"
  [(nzVisible)]="showAddDriverModal"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel(false)"
>   
    <ng-template #modalTitle>
        <div style="text-align: center;"> 
            <h3>Input the details of the driver</h3>
        </div>
    </ng-template>
    
    <ng-template #modalContent>
        <div class="modalBox"> <!--Met styling ici-->
            <form nz-form [formGroup]="AddDriverForm" (ngSubmit)="handleAddUser()" >
                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTpl">
                      <div class="input-container">
                        <i nz-icon nzType="user" class="icon"></i>
                        <input nz-input formControlName="fullname" placeholder="Full Name" />
                      </div>
                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input your full name!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTp2">
                      <div class="input-container">
                        <i nz-icon nzType="phone" class="icon"></i>
                        <input
                          nz-input
                          formControlName="phonenumber"
                          placeholder="Phone Number"
                        />
                      </div>
                      <ng-template #userErrorTp2 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input the phone number of the driver!!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">
                          Please input a valid phone number!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTp3">
                      <div class="input-container">
                        <i nz-icon nzType="mail" class="icon"></i>
                        <input
                          nz-input
                          formControlName="email"
                          placeholder="Email"
                        />
                      </div>
                      <ng-template #userErrorTp3 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input the email of the driver!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('email')">
                          Please input a valid email!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTp4">
                      <div class="input-container">
                        <i nz-icon nzType="home" class="icon"></i>
                        <input nz-input formControlName="address" placeholder="Address" />
                      </div>
                      <ng-template #userErrorTp4 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input the address of the driver!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <button 
                nz-button 
                nzType="primary" 
                nzBlock
                style="background-color: #2D8F3F; border-color: transparent;"
                (click)="handleAddUser()"
                >
                    Add Driver</button>

            </form>
        </div>
    </ng-template>

</nz-modal>