<div nz-row style="margin: 0; padding: 0">
  <div nz-col nzSpan="6">
    <div class="left-container">
      <h1>Manage Bins</h1>
      <nz-card>
        <nz-statistic
          [nzValue]="bins.length"
          [nzTitle]="'Total number of bins'"
          [nzPrefix]="prefixTplOne"
          [nzValueStyle]="{ color: '#3F8600' }"
        >
        </nz-statistic>
        <ng-template #prefixTplOne
          ><i nz-icon nzType="arrow-up"></i
        ></ng-template>
      </nz-card>
      <button
        class="addBinBtn"
        nz-button
        nzType="default"
        [nzSize]="'large'"
        nzBlock
        (click)="navigateTo('Admin/Add-Bins')"
      >
        Add a new bin
      </button>
      <button
        nz-button
        nzType="default"
        [nzSize]="'large'"
        nzBlock
        (click)="navigateTo('Admin/Edit-Bins')"
      >
        Edit existing bins
      </button>
    </div>
  </div>
  <div nz-col nzSpan="18">
    <div id="map" class="map"></div>
  </div>
</div>
