<div class="mainBox">
    <div nz-row>
        <div nz-col [nzSpan]="18" [nzPush]="6" class="rightBox">
          <h1 style="text-align: center;">My Profile</h1>
          
        </div>

        <div nz-col [nzSpan]="6" [nzPull]="18" class="leftBox">
            <div class="leftCard"> 
                <img alt="Photo of region" src="assets/images/truck.jpg" />
                <h2>Username</h2>
                <h3>Administrator</h3>

                <button 
                    nz-button 
                    nzShape="round" 
                    class="popupButton" 
                >
                <i nz-icon nzType="lock"></i>
                Change Password
                <i nz-icon class="iconCss" nzType="right"></i></button>
    
            </div>
        </div>
      </div>
</div>