<div *ngIf="isLoading">
    <app-spinner></app-spinner>
</div>

<div class="mainContainer" *ngIf="!isLoading">
    <div class="formContainer">
        <h3>Make a new pickup request</h3>
        <div style="margin-right:200px;">
            <form [formGroup]="requestForm" (ngSubmit)="sendRequest()">
                <!-- <nz-select
                nzPlaceHolder="Select your Bin Id"
                >
                <nz-option *ngFor="let ar of binIdList" nzValue="{{ar.id}}" nzLabel="{{ar.id}}"></nz-option>
                </nz-select> -->

                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTpl">
                      <div class="input-container">
                        <nz-select
                            nzPlaceHolder="Select your Bin Id"
                            formControlName="binId"
                        >
                        <nz-option *ngFor="let ar of binIdList" nzValue="{{ar.id}}" nzLabel="{{ar.id}}"></nz-option>
                        </nz-select>
                      </div>
                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please select a bin Id!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>


                <p>Date for pickup</p>
                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTp2">
                        <div class="input-container">    
                        <nz-date-picker
                            nzShowTime
                            formControlName="dateRequested"
                            nzFormat="yyyy-MM-dd HH:mm:ss"
                            ngModel
                            (ngModelChange)="onDateSelected($event)"
                        ></nz-date-picker>
                      </div>
                      <ng-template #userErrorTp2 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please select a date1
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                

                <button 
                nz-button 
                nzType="primary" 
                nzBlock
                style="background-color: #2D8F3F; border-color: transparent;"
                >
                    Request Pickup</button>
            </form>
            
        </div>
    </div>


    <div class="tableContainer">
        <h3>All your previous pickup requests</h3>   
        <div nz-row style="margin-bottom: 20px;">

            <div nz-col>
                <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onDateChange($event)"></nz-range-picker>
            </div>

            <div nz-col nzOffset="1">
                <nz-select
                    nzPlaceHolder="Status" 
                    [(ngModel)]="selectedStatus"
                    (ngModelChange)="handleStatusChange()">
                    <nz-option nzValue="All" nzLabel="All"></nz-option>
                    <nz-option nzValue="pending" nzLabel="Pending"></nz-option>
                    <nz-option nzValue="completed" nzLabel="Completed"></nz-option>
                </nz-select>
            </div>

            <div nz-col nzOffset="2" *ngIf="showClearButton">
                <button 
                    nz-button
                    nzShape="round" 
                    (click)="clearFilter()"
                    style="background-color: #ac1010; color: #fff;"
                    >Clear Filters</button> 
            </div>

        </div>

        <ngx-datatable 
        class="material"
        [rows]="filteredRows" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50"
        [rowHeight]="50" 
        [scrollbarV]="false" 
        [sorts]="[{prop: 'status', dir: 'desc'}]">
        
        <ngx-datatable-column name="Bin Id" [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template >
            {{row.bin_id}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Material" >
            <ng-template let-row="row" ngx-datatable-cell-template >
            {{row.material}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Date Request was made" >
            <ng-template let-row="row" ngx-datatable-cell-template >
            {{row.date_applied}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Date Requested" >
            <ng-template let-row="row" ngx-datatable-cell-template >
            {{row.date_requested}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" >
            <ng-template let-row="row" ngx-datatable-cell-template >
            {{row.status}}
            </ng-template>
        </ngx-datatable-column>

        </ngx-datatable>

    </div>
</div>