.mainContainer{
    width:100%;
    /* height: 600px; */
    background-color:white;
}

.formContainer{
    width: 45%;
    float:left; 
    padding: 10px;
}

.tableContainer{
    width:55%;
    float:right; 
    padding: 10px;
}

.dpicker{
    width:100%;
}

h3{
    font-size: large;
    color:#19324D;
}

.input-container,nz-date-picker {
    display: flex;
    width: 100%;
  }