::ng-deep :root {
  --main-color: #29c32f;
  --map-length: 550px;
}

h1 {
  color: var(--main-color) !important;
  font-size: 40px;
  margin-bottom: 7%;
}

.map {
  height: var(--map-length);
  width: var(--map-length);
  border-radius: calc(var(--map-length) / 2);
  margin: 0 auto;
}
button.registerBtn {
  margin-right: 10px;
}

p.description {
  font-size: 19px;
  margin-bottom: 8%;
}

.left-container {
  margin-left: 10%;
}

@media screen and (min-width: 1400px) {
  ::ng-deep :root {
    --main-color: #29c32f;
    --map-length: 800px;
  }
  .map {
    height: var(--map-length);
    width: var(--map-length);
    border-radius: calc(var(--map-length) / 2);
    margin: 0 auto;
  }
}
