<div nz-row>
  <div nz-col nzSpan="8">
    <div class="left-container">
      <h1>We-Recycle</h1>
      <p class="description">
        Collecting and preparing PET plastic for recyclers. Placing bins,
        educating in schools, clubs and everywhere we can, we arrange public
        area clean-ups and strive to keep the Black River District clean.
      </p>
      <button
        (click)="navigateTo('/Login')"
        class="registerBtn"
        nz-button
        nzType="primary"
        [nzSize]="'large'"
      >
        Register as driver
      </button>
      <button
        (click)="navigateTo('/Login')"
        nz-button
        nzType="default"
        [nzSize]="'large'"
      >
        Login
      </button>
    </div>
  </div>
  <div nz-col nzSpan="16">
    <div id="map" class="map"></div>
  </div>
</div>
