<header class="header">
  <img
    src="assets/images/logo.png"
    alt=""
    class="logo"
    height="50px"
    width="50px"
  />

  <ul class="main-nav">
    <!-- Admin -->
    <li class="dropdown" *ngIf="isLoggedIn">
      <a *ngIf="role == 'ADMIN'" nz-dropdown [nzDropdownMenu]="menu3">
        Manage Bins
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu3="nzDropdownMenu">
        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['Admin/Edit-Bins']"
          [routerLinkActive]="['active']"
          >Edit Bin</a
        >

        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['Admin/Add-Bins']"
          [routerLinkActive]="['active']"
          >Add Bin</a
        >
      </nz-dropdown-menu>
    </li>

    <li *ngIf="isLoggedIn">
      <a
        *ngIf="role == 'ADMIN'"
        [routerLink]="['Admin/Manage-Drivers']"
        [routerLinkActive]="['active']"
        >Manage Drivers</a
      >
    </li>

    <li *ngIf="isLoggedIn">
      <a
        *ngIf="role == 'DRIVER'"
        [routerLink]="['Driver/Add-Pickup']"
        [routerLinkActive]="['active']"
        >Add Pickup</a
      >
    </li>

    <li *ngIf="isLoggedIn">
      <a
        *ngIf="role == 'ADMIN'"
        [routerLink]="['Admin/View-Pickups']"
        [routerLinkActive]="['active']"
        >View Pickups</a
      >
    </li>

    <li *ngIf="isLoggedIn">
      <a
        *ngIf="role == 'ADMIN'"
        [routerLink]="['Admin/My-Profile']"
        [routerLinkActive]="['active']"
        >My Profile</a
      >
      <a
        *ngIf="role == 'DRIVER'"
        [routerLink]="['Driver/My-Profile']"
        [routerLinkActive]="['active']"
        >My Profile</a
      >
    </li>

    <li>
      <a [routerLink]="['Prices']" [routerLinkActive]="['active']">Prices</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['Login']" [routerLinkActive]="['active']">Login</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['Register']" [routerLinkActive]="['active']"
        >Register</a
      >
    </li>

    <li *ngIf="isLoggedIn">
      <a (click)="logout()">Logout</a>
    </li>

    <!-- <li class="dropdown" *ngIf="isLoggedIn">
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{ fullname }}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <a nz-menu-item class="dropdown-content" (click)="logout()">Logout</a>
      </nz-dropdown-menu>
    </li> -->
  </ul>
</header>
