<header class="header">
  <!-- <h1 class="logo"><a href="#">Flexbox</a></h1> -->
  <img
    src="assets/images/logo.png"
    alt=""
    class="logo"
    height="50px"
    width="50px"
  />
  <!-- <links> -->
  <ul class="main-nav">
    <!-- Admin -->
    <li class="dropdown" *ngIf="isLoggedIn">
      <a nz-dropdown [nzDropdownMenu]="menu1">
        Driver Allocations
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <a
          nz-menu-item
          class="dropdown-content"
          href="#"
          [routerLink]="['View-Allocations']"
          [routerLinkActive]="['active']"
          >View Allocations</a
        >

        <a
          nz-menu-item
          class="dropdown-content"
          href="#"
          [routerLink]="['Allocate-Drivers']"
          [routerLinkActive]="['active']"
          >Add Allocations</a
        >

        <!-- <a
          nz-menu-item
          class="dropdown-content"
          href="#"
          [routerLink]="['Pickup-Depot']"
          [routerLinkActive]="['active']"
          >Pickup Depot</a
        > -->
      </nz-dropdown-menu>
    </li>

    <!-- Admin -->
    <li class="dropdown" *ngIf="isLoggedIn">
      <a nz-dropdown [nzDropdownMenu]="menu3">
        Manage Requests
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu3="nzDropdownMenu">
        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['Request-Management/Bins']"
          [routerLinkActive]="['active']"
          >Bin Requests</a
        >

        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['Request-Management/Pickups']"
          [routerLinkActive]="['active']"
          >Pickup Requests</a
        >
      </nz-dropdown-menu>
    </li>
    <li class="dropdown" *ngIf="isLoggedIn">
      <a nz-dropdown [nzDropdownMenu]="menu3">
        Manage Bins
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu3="nzDropdownMenu">
        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['Bins']"
          [routerLinkActive]="['active']"
          >All Bins</a
        >

        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['Add-Bin']"
          [routerLinkActive]="['active']"
          >Add Bin</a
        >
      </nz-dropdown-menu>
    </li>
    <li class="dropdown" *ngIf="isLoggedIn">
      <a nz-dropdown [nzDropdownMenu]="menu3">
        Manage Users
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu3="nzDropdownMenu">
        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['User-Management/Drivers']"
          [routerLinkActive]="['active']"
          >Drivers</a
        >
        <a
          nz-menu-item
          href="#"
          class="dropdown-content"
          [routerLink]="['User-Management/Registered-Users']"
          [routerLinkActive]="['active']"
          >Users</a
        >
      </nz-dropdown-menu>
    </li>

    <!--Registered User-->
    <li *ngIf="isLoggedIn">
      <a
        [routerLink]="['Reg-User/My-Pickup-Requests']"
        [routerLinkActive]="['active']"
        >My Pickup Requests</a
      >
    </li>

    <li *ngIf="isLoggedIn">
      <a
        [routerLink]="['Reg-User/New-Bin-Requests']"
        [routerLinkActive]="['active']"
        >Request Bins</a
      >
    </li>

    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['Bins']" [routerLinkActive]="['active']">All Bins</a>
    </li>

    <li>
      <a [routerLink]="['Prices']" [routerLinkActive]="['active']">Prices</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['Login']" [routerLinkActive]="['active']">Login</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['Register-Business']" [routerLinkActive]="['active']"
        >Register as business</a
      >
    </li>

    <li class="dropdown" *ngIf="isLoggedIn">
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{ fullname }}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <a nz-menu-item class="dropdown-content" (click)="logout()">Logout</a>
      </nz-dropdown-menu>
    </li>
  </ul>
  <!-- </links> -->
</header>
