
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.active {
    background-color: #2D8F3F !important;
    border-radius: 20px;
    display: inline-block;
    padding-bottom: 5px;
}
  
li a{
    color:white !important;
    text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	/* text-transform: uppercase; */
	text-align: center;
    display: block;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}


.header {
	position: fixed;
	z-index: 2;
	top: 0;
	padding-top: .1em;
	padding-bottom: .1em;
    background: #19324D;

	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);

}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
		
	}
	.header {
		flex-direction: column;
        align-items: center;

		width: 100%;
		/* margin: 0 auto; */
		max-width: 100%;
	}
	

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.dropdown-content{
    display: block;
    background-color: #19324D;
    color:white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

