/* .requestbinContainer{
    height: 650px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
  } */
  
  .mapContainer{
    margin: 0px 30px 0px 30px;
    width: 60%;
    overflow: hidden;
    height:500px;
  }
  
  .formContainer{
    width: 30%;
    overflow: hidden;
    padding: 150px 20px 0px 0px;
  }
  
  .mapformContainer{
    display: flex;
    padding: 20px 0;
  }

  .input-container {
    display: flex;
    width: 100%;
  }

  .icon {
    /* height: 30px; */
    padding: 10px;
    background: #2D8F3F;
    color: white;
    /* min-width: 40px; */
    text-align: center;
  }


  .ant-card-bordered {
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    }

    .ant-tag {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        /* line-height: 1.5715; */
        list-style: none;
        font-feature-settings: 'tnum';
        display: inline-block;
        height: auto;
        margin-right: 8px;
        padding: 0 7px;
        font-size: 15px;
        line-height: 30px;
        white-space: nowrap;
        background: #fafafa;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        cursor: default;
        opacity: 1;
        transition: all 0.3s;
    }