<div class="">
    <div class="mapformContainer" >
        
        <div class="mapContainer" id="map">
            
        </div>
        <div class="formContainer">
            <form [formGroup]="BinRequestForm" (ngSubmit)="requestBin()">
                <h2>Click on the location for your bin</h2>
                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTpl">
                      <div class="input-container">
                        <i nz-icon nzType="bars" class="icon"></i>
                        <nz-select
                            nzPlaceHolder="Type of Bin"
                            formControlName="material"
                        >
                            <nz-option nzValue="Plastic Bottles" nzLabel="Plastic Bottles"></nz-option>
                            <nz-option nzValue="Cans" nzLabel="Cans"></nz-option>
                        </nz-select>
                      </div>
                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please select a material!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTp2">
                      <div class="input-container">
                        <i nz-icon nzType="plus" class="icon"></i>
                        <input
                          type="number"
                          min=1
                          nz-input
                          formControlName="count"
                          placeholder="Number of bins"
                        />
                      </div>
                      <ng-template #userErrorTp2 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input the number of bins!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <div>
                    Location: <nz-tag nzColor="#e0e0e0" >({{selectedLocation.lat}},{{selectedLocation.lng}})</nz-tag><br><br>
                    <!-- Selected Latitude:<nz-tag nzColor="#e0e0e0" >{{selectedLocation.lat}}</nz-tag><br><br>
                    Selected Longitude:<nz-tag nzColor="#e0e0e0" >{{selectedLocation.lng}}</nz-tag> -->
                </div>
                
                <button
                nz-button 
                nzType="primary" 
                nzBlock
                style="background-color: #2D8F3F; border-color: transparent;"
                >Make Request</button>
            </form>
        </div>
        
</div>