<app-spinner style="margin-top: 25px" *ngIf="isLoading"></app-spinner>
<div class="driver-allocation">
  <div class="main" *ngIf="!isLoading">
    <h2>Driver Allocation</h2>

    <input
      placeholder="Choose driver"
      nz-input
      [(ngModel)]="selectedDriver"
      (input)="onInput($event)"
      [nzAutocomplete]="driverAutocomplete"
    />
    <nz-autocomplete #driverAutocomplete>
      <nz-auto-option
        *ngFor="let option of filteredDrivers"
        [nzValue]="option.phoneno"
        >{{ option.fullname }}</nz-auto-option
      >
    </nz-autocomplete>
  </div>
  <div id="map" class="map"></div>
</div>
