<app-spinner style="margin-top: 25px" *ngIf="isLoading"></app-spinner>
<div class="driver-allocation">
  <div class="main" *ngIf="!isLoading">
    <h2>Driver Allocation</h2>

    <input
      placeholder="Choose driver"
      nz-input
      [(ngModel)]="selectedDriver"
      (input)="onInput($event)"
      [nzAutocomplete]="driverAutocomplete"
    />
    <nz-autocomplete #driverAutocomplete>
      <nz-auto-option
        *ngFor="let option of filteredDrivers"
        [nzValue]="option"
        [nzLabel]="option.fullname"
        >{{ option.fullname }}</nz-auto-option
      >
    </nz-autocomplete>
    <p *ngIf="selectedBins.length == 0">
      Please select atleast 1 bin on the map
    </p>
    <button
      nz-button
      nzType="primary"
      [disabled]="selectedBins.length == 0 || !selectedDriver"
      type="button"
      (click)="handleSubmit()"
    >
      Allocate driver
    </button>
    <button
      nz-button
      *ngIf="selectedBins.length > 0 || selectedDriver"
      type="button"
      (click)="handleCancel()"
    >
      Cancel
    </button>
  </div>
  <div id="map" class="map"></div>
</div>
