button {
  margin-right: 8px;
  margin-top: 25px;
}
.message {
  margin-top: 25px;
}
h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
img.bin-image {
  width: 75px;
}

.bin-id {
  display: inline-block;
  margin-top: 20px !important;
  font-size: 17px;
}

.map {
  width: 100%;
  height: 800px;
}

.main {
  padding-right: 25px;
}

.bins-display {
  margin-top: 20px;
}
