<nz-modal
  [nzWidth]="450"
  [(nzVisible)]="showPasswordModal"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel(false)"
>
    <ng-template #modalTitle>
        <div style="text-align: center;"> 
            <h3>Change Password</h3>
        </div>
    </ng-template>

    <ng-template #modalContent>
        <div class="modalBox"> <!--Met styling ici-->
            <form nz-form [formGroup]="changePasswordForm" >
                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTpl">
                      <div class="input-container">
                        <i nz-icon nzType="key" class="icon"></i>
                        <input nz-input formControlName="oldPassword" placeholder="Old Password" />
                      </div>
                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input your old password!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzBlock nzHasFeedback [nzErrorTip]="userErrorTp2">
                      <div class="input-container">
                        <i nz-icon nzType="lock" class="icon"></i>
                        <input nz-input formControlName="newPassword" placeholder="New Password" />
                      </div>
                      <ng-template #userErrorTp2 let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input your new password!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <button 
                nz-button 
                nzType="primary" 
                nzBlock
                style="background-color: #2D8F3F; border-color: transparent;"
                (click)="handleChangePassword()"
                >
                    Save</button>

            </form>
        </div>
    </ng-template>

</nz-modal>