<div *ngIf="!isLoading" class="allocations">
  <nz-table #allocationTable [nzData]="binAllocations">
    <thead>
      <tr>
        <th>Pickup Id</th>
        <th>Driver Name</th>
        <th>Driver Phone</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Pickup Bins</th>
        <th>Driver Route</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allocationTable.data">
        <td>{{ data.pickup_id }}</td>
        <td>{{ data.driver.fullName }}</td>
        <td>{{ data.driver.phoneNumber }}</td>
        <td>{{ data.pickup_date | date: "dd/MM/yyyy" }}</td>
        <td>
          <nz-tag *ngIf="data.pickup_status == 'pending'">{{
            data.pickup_status
          }}</nz-tag>
          <nz-tag *ngIf="data.pickup_status == 'rejected'" [nzColor]="'red'">{{
            data.pickup_status
          }}</nz-tag>
        </td>
        <td>
          <button
            nz-button
            [nzType]="'primary'"
            (click)="showPickupModal(data.pickupBins)"
          >
            <span>View pickup bins</span>
          </button>
        </td>
        <td>
          <button
            nz-button
            [nzType]="'primary'"
            (click)="showRouteModal(data.pickupBins)"
          >
            <span>View route</span>
          </button>
        </td>
        <td>
          <button
            *ngIf="
              data.pickup_status == 'pending' ||
              data.pickup_status == 'rejected'
            "
            (click)="handleAction(data.pickup_id, 1)"
            nz-button
            nzType="default"
            nzShape="circle"
          >
            <i nz-icon nzType="check"></i>
          </button>
          &nbsp;
          <button
            *ngIf="data.pickup_status == 'pending'"
            (click)="handleAction(data.pickup_id, 0)"
            nz-button
            nzType="danger"
            nzShape="circle"
          >
            <i nz-icon nzType="close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<app-spinner style="margin-top: 25px" *ngIf="isLoading"></app-spinner>
